In [1]:
import pandas as pd

data = pd.read_excel('../Data/Ingles_100.xlsx')
data

   Ingles                                  Español
0      us                            nos, nosotros
1    most  la mayoría, el mayor número, el máximo,
2     day                                      día
3    give                                      dar
4   these                             estos, estas
..    ...                                      ...
95    and                                        y
96     of                                       de
97     to              a, hacia, hasta, por, para,
98     be                              ser o estar
99    the                         el, la, los, las

[100 rows x 2 columns]

In [2]:
from gtts import gTTS

import os

mytext = "Welcome to my first try"

language = 'en'

myobj = gTTS(text= mytext, lang = language, slow = False )

myobj.save('../Data/Audio/Welcome.mp3')

os.system("mpg321 ../Data/Audio/Welcome.mp3")

1

In [3]:
def to_audio(x):
    myobj = gTTS(text = x, lang = 'en', slow = False)
    myobj.save('../Data/Audio/' + x + '.mp3')

In [5]:
data['Ingles'].apply(lambda x: to_audio(x))

0     None
1     None
2     None
3     None
4     None
      ...
95    None
96    None
97    None
98    None
99    None
Name: Ingles, Length: 100, dtype: object